  .wrap{
  position: relative;
  background: #f8f8f8;
  overflow: hidden;
}
.wrap header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  min-width: 1100px;
  height: 50px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.1), 0 0 10px 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.1);
}
.wrap header .logo{
  display: inline-block;
  width: 93px;
  height: 28px;
  margin-top: 11px;
  margin-left:26px;
  background: url('../images/video-detail/udm-logo.png') no-repeat;
}
.wrap header .navbar,
.wrap header .navbar > div{
    display: inline-block;
    vertical-align: top;
}
.wrap header .navbar > div{
    position: relative;
    margin-left: 40px;
    font-size: 14px;
    color: #626262;
    font-family: 'MicrosoftYaHeiUI';
}
.wrap header .navbar > div:hover ul{
    display: block;
}
.wrap header .navbar > div span{
    line-height: 50px;
    cursor: pointer;
}
.wrap header .navbar > div span:hover{
    color: #20b0e9;
}
.wrap header .navbar > div ul{
    display: none;
    position: absolute;
    top:46px;
    padding: 4px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.1), 0 0 10px 0 rgba(0,0,0,0.1), 0 0 0 0 rgba(0,0,0,0.1);
}
.wrap header .navbar > div ul li{
    line-height: 30px;
    padding-left: 14px;
}
.wrap header .navbar > div ul li a{
    display: inline-block;
    width:100%;
}
.wrap header .navbar > div ul li:hover{
    background: #f8f8f8;
}
.wrap header .navbar > div ul.learn,
.wrap header .navbar > div ul.material{
    left:-28px;
    width:84px;
}
.wrap header .navbar > div ul.tool{
    left: -38px;
    width: 112px;
}
.wrap header .navbar > div ul.practice{
    left:-70px;
    width:168px; 
}
.wrap header .login-status{
    display: flex;
    align-items: center;
    float: right;
    margin: 0 36px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}
.wrap header .login-status img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.wrap header .login-status:hover{
    color:#02b0e9;
}
.wrap header .search_bar{
    display:inline-block;
    float: right;
    height:36px;
    margin-top:7px;
    border-radius: 4px;
    border-color: #e5e5e5;
    background: #f0f0f0;
}
.wrap header .search_bar .sim_select{
    padding: 0 14px;
    top:11px;
}
.wrap header .search_bar .sim_select dt{
    width: 46px;
    background: url('../images/content-detail/ic_jiantou.png') no-repeat right center;
}
.wrap header .search_bar .sim_select dd{
    width: 70px;
    border: 0;
    border-radius: 4px;
}
.wrap header .search_bar .sim_select dd p{
    padding: 0 0 0 14px;
    border: 0;
}
.wrap header .search_bar .sim_select dd p:hover{
    color:#20b0e9;
    background: #f8f8f8;
}
.wrap header .search_bar .input{
    width: 225px;
    padding-right: 14px;
    margin-left: 14px;
    margin-top: 3px;
    box-sizing: content-box;
}
.wrap header .search_bar .search_btn{
    width: 18px;
    height: 18px;
    margin-top: 10px;
    background: url('../images/content-detail/ic_search_n.png') no-repeat;
}

.wrap .content{
  width: 1136px;
  min-height: 815px;
  margin: 64px auto 20px;
}
.wrap .content .box-padding{
  margin-top:20px;
  padding:15px 20px 0 20px;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.2); */
  background: #fff;
}
.wrap .content .base-font{
  color:#626262;
  font-size:14px;
  font-family: 'MicrosoftYaHeiUI';
}
.wrap .content .base-tit-font{
  color:#02b0e9;
  font-family: 'MicrosoftYaHeiUI';
}
.wrap .content .font-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.wrap .content .pic-course-block .pic-tit,
.wrap .content .video-block .video-tit{
  color:#29282e;
  font-size:20px;
  font-family: 'MicrosoftYaHeiUI';
}
.wrap .content .pic-content-header{
    display: flex;
    justify-content: space-between;
}
.wrap .content .pic-content-header .base-content{
    width:795px;
}
.wrap .content .author {
    display: flex;
    align-items: center;
}
.wrap .content .pic-content-header .edit{
    margin-top: 28px;
    padding-left: 24px;
    font-size: 14px;
    background: url(../images/btn_ico.png) no-repeat 0 -188px;
  }
  .wrap .content .pic-content-header .edit:hover{
    background: url(../images/btn_ico.png) no-repeat 0 -215px;
  }
.wrap .content .author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
  }
.wrap .content .author-info{
    padding: 5px 10px 5px 10px;
}
.wrap .content .author-info .author-nickname{
    font-weight: bold;
    line-height: 20px;
}
.wrap .content .author-info .time-info{
    color:#999;
}
.wrap .content .author-info .author-public-time{
    padding:0 5px;
    color:#333;
}
.wrap .content .pic-course-block .base-info,
.wrap .content .video-block .base-info{
  margin: 15px 0 12px;
}
.wrap .content .video-block .catalogue-index{
  display: inline-block;
  max-width: 266px;
  height: 17px;
  overflow: hidden;
  vertical-align: bottom;
}
.wrap .content .play-count,
.wrap .content .catalogue-index,
.wrap .content .catalogue-index a{
  color:#a7a7a7;
  font-size:12px;
  font-family: 'MicrosoftYaHeiUI'; 
}
.wrap .content .catalogue-index a:hover{
  color:#02b0e9;
}
.wrap .content .pic-course-block .play-count,
.wrap .content .video-block .play-count{
  display: inline-block;
  margin-left: 20px;
}
.wrap .content .video-block .video-box{
  position: relative;
  height:640px;
}
.wrap .content .video-block .video-box .video-jump{
  position: absolute;
  left:10px;
  bottom: 50px;
  padding:13px 12px 13px 38px;
  background: #000;
  color:#fff;
  font-size:14px;
  font-family: 'MicrosoftYaHeiUI'; 
}
.wrap .content .video-block .video-box .video-jump .time{
  display: inline-block;
  margin: 0 14px 0 5px;
}
.wrap .content .video-block .video-box .jump-time{
  color:#02b0e9;
  cursor: pointer;
}
.wrap .content .video-block .video-box .jump-time:hover{
  color:#00bffe;
}
.wrap .content .video-block .video-box .video-check-mask,
.wrap .content .video-block .video-box .video-mask{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,1);
  color:#fff;
  z-index:30;
  display: none;
}
.wrap .content .video-block .video-box .video-check-mask{
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.wrap .content .video-block .video-box .video-check-mask .video-icon{
  width:64px;
  height: 48px;
  background:url('../images/video-detail/ic_video_loading.png') no-repeat;
}
.wrap .content .video-block .video-box .video-check-mask p{
  margin-top:30px;
  color:#f8f8f8;
}
.wrap .content .video-block .video-box .video-mask .video-play-list{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.wrap .content .video-block .video-box .video-mask .video-play-list .replay{
  width:52px;
  padding-top:50px;
  padding-right:20px;
  border-right:1px solid #f8f8f8;
  background: url('../images/video-detail/ic_replay.png') no-repeat;
  text-align: center;
  cursor: pointer;
}
.wrap .content .video-block .video-box .video-mask .video-play-list .con-course{
  width:174px;
  padding:10px;
  margin-left:20px;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'MicrosoftYaHeiUI';
  cursor: pointer;
}
.wrap .content .video-block .video-box .video-mask .video-play-list .con-course a{
  color:#f8f8f8;
}
.wrap .content .video-block .video-box .video-mask .video-play-list .con-course a:hover{
  color:#f8f8f8;
}

.wrap .content .video-info{
  padding-bottom:20px;
}
.wrap .content .tit{
  font-size:18px;
}
.wrap .content .video-info .detail{
  line-height: 23px;
  margin-top: 8px;
}
.wrap .content .video-info .operate{
  margin-top:22px;
}
.wrap .content .pic-course-detail .operate{
  padding: 24px 0; 
}
.wrap .content .pic-course-detail .operate span,
.wrap .content .video-info .operate span{
  display: inline-block;
  margin-right:40px;
  padding-left: 24px;
}
.wrap .content .pic-course-detail .operate .favorite,
.wrap .content .video-info .operate .favorite{
  background: url('../images/video-detail/ic_like_n.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .collection,
.wrap .content .video-info .operate .collection{
  background: url('../images/video-detail/ic_coll_n.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .share,
.wrap .content .video-info .operate .share{
  position: relative;
  display: inline-block;
  margin-right:40px;
  padding-left: 24px;
  background: url('../images/video-detail/ic_share_n.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .share{
  margin-right:0;
}
.wrap .content .pic-course-detail .operate .favorite:hover,
.wrap .content .video-info .operate .favorite:hover{
  cursor: pointer;
  color:#02b0e9;
  background: url('../images/video-detail/ic_like_c.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .favorite.like,
.wrap .content .video-info .operate .favorite.like{
  background: url('../images/video-detail/ic_like_c.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .collection:hover,
.wrap .content .video-info .operate .collection:hover{
  cursor: pointer;
  color:#02b0e9;
  background: url('../images/video-detail/ic_coll_c.png') no-repeat left center;
}
.wrap .content .pic-course-detail .operate .collection.like,
.wrap .content .video-info .operate .collection.like{
  background: url('../images/video-detail/ic_coll_c.png') no-repeat left center;
}
.wrap .content .pic-course-detail  .operate .share:hover,
.wrap .content .video-info .operate .share:hover{
  color:#02b0e9;
  background: url('../images/video-detail/ic_share_h.png') no-repeat left center;
}
.wrap .content .pic-course-detail  .operate .share:after,
.wrap .content .video-info .operate .share:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:50px;
}
.wrap .content .pic-course-detail .operate .share:hover .share-box,
.wrap .content .video-info .operate .share:hover .share-box{
  display: flex;
}
.wrap .content .pic-course-detail .operate .share-box,
.wrap .content .video-info .operate .share-box{
  position: absolute;
  top:30px;
  right:0;
  display: none;
  align-items: center;
  justify-content: space-around;
  width:286px;
  height:188px;
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: #fff;
  z-index:20;
}
.wrap .content .pic-course-detail .operate .share-box:after,
.wrap .content .video-info .operate .share-box:after{
  content: '';
  position: absolute;
  top:-8px;
  right:-18px;
  width:60px;
  height:10px;
  background: url('../images/video-detail/ic_triangle.png') no-repeat;
}
.wrap .content .pic-course-detail .operate .share-box li a,
.wrap .content .video-info .operate .share-box li a{
  display: inline-block;
  width:111px;
  height: 122px;
  line-height: 200px;
  border-radius:5px;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}
.wrap .content .pic-course-detail .operate .share-box li a:hover,
.wrap .content .video-info .operate .share-box li a:hover{
  border: 1px solid #02b0e9;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 22;
}
.wrap .content .pic-course-detail .operate .share-box li a.weibo,
.wrap .content .video-info .operate .share-box li a.weibo{
  background:url('../images/video-detail/ic_weibo.png') no-repeat center 20px;
}
.wrap .content .pic-course-detail .operate .share-box li a.qq,
.wrap .content .video-info .operate .share-box li a.qq{
  background:url('../images/video-detail/ic_qzone.png') no-repeat center 20px;
}
.wrap .content .pic-course-detail .op-display-left{
  border:0;
  text-align: left;
  margin-top:0;
}
.wrap .content .pic-course-detail .content-box{
  padding: 40px 100px 0 100px;
} 
.wrap .content .pic-course-detail .content-related{
  display:flex;
  justify-content: space-between;
  margin-top:40px;
  border-top:1px solid #f0f0f0;
  padding: 0 20px;
}
.wrap .content .pic-course-detail .content-related p{
    font-size:14px;
}
.wrap .content .pic-detail{
  position: relative;
  height: 260px;
  padding-right:5px;
  overflow: hidden;
}

.wrap .content .pic-detail .content-box::-webkit-scrollbar {
  width: 6px;
 }

 .wrap .content .pic-detail .content-box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 6px;
  margin-right:4px;
  background-color:#e4e9eb;
}

 .wrap .content .pic-detail .content-box::-webkit-scrollbar-track {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
 }

 .wrap .content .pic-detail .content-box::-webkit-scrollbar-thumb:hover{
  background-color:#a1b1b8; 
 }
.wrap .content .pic-detail .content-box{
  padding-right: 10px;
  padding-top: 10px;
}
.wrap .content .pic-detail .content-box img{
  max-width: 1097px;
  height: auto;
}
.wrap .content .pic-detail .pic-mask{
  position: absolute; 
  left:0;
  bottom: 0px;
  width:100%;
  height:100px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 1));
}
.wrap .content .small-tit-operate{
  float:right;
  display: inline-block;
  margin-top: 6px;
  padding-left: 15px;
  color:#02b0e9;
  font-size:14px;
  cursor: pointer;
}
.wrap .content .pic-detail .display{
  padding-right: 15px;
}
.wrap .content .pic-detail .display.arrow-down{
  background: url('../images/video-detail/ic_arrow_down.png') no-repeat left center;
}
.wrap .content .pic-detail .display.arrow-up{
  background: url('../images/video-detail/ic_arrow_up.png') no-repeat left center;
}
.wrap .content .recommend .recommend-list{
  display: flex;
  justify-content: space-around;
  margin-top:15px;
}
.wrap .content .recommend .more{
  background: url('../images/video-detail/ic_more.png') no-repeat left center;
}
.wrap .content .recommend .more a{
  color:#02b0e9;  
}
.wrap .content .recommend .recommend-list li{
  position: relative;
  width:166px;
  overflow: hidden;
}
.wrap .content .recommend .recommend-list li img{
  width: 166px;
  height:166px;
  border-radius: 5px;
}
.wrap .content .recommend .recommend-list li .line-mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 166px;
  background: rgba(255,255,255,0.2);
  display: none;
}
.wrap .content .recommend .recommend-list li .line-mask.video-icon{
  background: rgba(255,255,255,0.2) url('../images/video-detail/ic_play.png') no-repeat center center;
}
.wrap .content .recommend .recommend-list li p{
  line-height: 35px;
}
.wrap .content .recommend .recommend-list li:hover .line-mask{
  display: block;
}
.wrap .content .recommend .recommend-list li:hover p{
  color:#02b0e9;
}
.wrap .content .comment_module .content{
  width:inherit;
  margin:0;
  min-height: auto;
}
/* 引用footer */
.footer{
  min-width: 1200px;
  height:70px;
  background: #2e332a;
  color:#c3c4c4;
  font-size:14px;
  line-height: 70px;
}
.footer .footer-box{
  position: relative;
  width:1200px;
  margin:0 auto;
}
.footer .bottom-qzone,
.footer .bottom-weibo{
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  top:18px;
}
.footer .bottom-qzone{
  right:0;
}

.footer .bottom-weibo{
  right:32px;
}
.footer .bottom-qzone span,
.footer .bottom-weibo span {
  display: block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  text-indent: -999px;
}
.footer .bottom-weibo span{
  background: url(../images/udm-product/ic_weibo_n.png) no-repeat center;
}
.footer .bottom-qzone span{
  background: url(../images/udm-product/ic_qq_n.png) no-repeat center;  
}
.footer .bottom-weibo:hover span{
  background: url(../images/udm-product/ic_weibo_h.png) no-repeat center;
}
.footer .bottom-qzone:hover span{
  background: url(../images/udm-product/ic_qq_h.png) no-repeat center;  
}
.footer .bottom-link{
  float:right;
  margin: 0px 75px 0 0;
}
.footer .bottom-link li {
  float: left;
  padding: 0 10px;
}
.footer .bottom-link li a{
  color:#c3c4c4;
}
.footer .bottom-link li a:hover{
  color:#fff;
}
.footer .bottom-link li.separate {
  background: #c3c4c4;
  width: 1px;
  height: 12px;
  padding: 0;
  margin-top: 30px;
  line-height: 30px;
}
.footer .footer-box p{
  float:left;
  color: #f3f3f3;
}







/* 图文课程 */
.wrap .content .connect-course{
  display: flex;
  justify-content: center;
  margin: 60px auto 30px;
}
.wrap .content .connect-course .con-course{
  display: inline-block;
  width: 135px;
  padding:10px;
  border:1px solid #02b0e9;
  border-radius: 5px;
  cursor: pointer;
}
.wrap .content .connect-course .con-course a{
  color: #02b0e9;
}
.wrap .content .connect-course .pre-course{
  margin-right:15px;
}

.wrap .content .brief-wrap{
    padding-bottom: 15px;
}
.wrap .content .pic-course-detail{
  margin-top:20px;
  background: #fff;
}
.wrap .content .pic-course-detail .content-box img{
  max-width: 100%;
  height:auto;
}
.wrap .content .sucai-content .content-box{
    display: block;
    margin: 0 auto;
}
.wrap .content .pic-course-detail .content-box .user-img img{
    display: block;
    cursor: zoom-in;
    margin: 10px auto 0;
}
.wrap .content .pic-course-detail .content-box .sucai-img img{
    display: block;
    margin:0 auto;
}
.wrap .content .pic-course-detail .detail {
  margin-top:8px;
}
/* 视频按钮样式修改 */
.prism-player .prism-play-btn,
.prism-player .prism-fullscreen-btn,
.prism-player .prism-setting-btn{
    height: 20px;
    width: 20px;
}
.prism-player .prism-volume .volume-icon {
  width: 24px; height: 24px;
}
.prism-player .prism-animation{
  width:100px;
  height: 100px;
}
.prism-player .prism-play-animation {
  background: url('../images/udm-product/ic_play.png') no-repeat;
  background-size: contain;
}
.prism-player .prism-pause-animation {
  background: url('../images/udm-product/ic_stop.png') no-repeat;
  background-size: contain;
}
.prism-player .prism-setting-selector .header{
  position: relative;
}
.prism-player .prism-controlbar .prism-controlbar-bg{
  background: rgba(75,75,75,.8);
}
.prism-player .prism-setting-list .prism-setting-cc,
.prism-player .prism-setting-list .prism-setting-audio{
  display: none;
}


/* 作品详情页 */
.wrap .content .pic-course-detail .content-box .user-img .see-large{
  position: fixed;
  z-index: 10001;
  cursor: move;
  max-width: none;
}
.wrap .content .pic-course-detail .work-box{
  text-align: center;
  margin-bottom: 20px;
}
.wrap .content .pic-course-detail .work-box ul li{
  position: relative;
}

.wrap .content .pic-course-detail .work-box ul li img:hover{
  cursor: zoom-in;
}
.wrap .content .brief{
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'MicrosoftYaHeiUI';
}

.view-big-img{
  display: none;
}
.view-big-img .img-show-box{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 10000;
}
.view-big-img .close-large-img{
  position: fixed;
  top:34px;
  right:34px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #181818 url('../images/content-detail/ic_close_n.png') no-repeat center center;
  cursor: pointer;
  z-index: 10001;
}
.view-big-img .close-large-img:hover{
  background: #181818 url('../images/content-detail/ic_close_h.png') no-repeat center center;  
}
.view-big-img .connect-operation{
  position: fixed;
  bottom: 40px;
  right: 34px;
  z-index: 10001;
}
.view-big-img .connect-operation li{
  width:40px;
  height:40px;
  border-radius: 50%;
  margin-bottom:10px;
  cursor: pointer;
}
.view-big-img .connect-operation .favorite{
  background: #181818 url('../images/content-detail/ic_like_n.png') no-repeat center center;
}
.view-big-img .connect-operation .favorite:hover{
  background: #181818 url('../images/content-detail/ic_like_h.png') no-repeat center center;
}
.view-big-img .connect-operation .favorite.like,
.view-big-img .connect-operation .favorite.like:hover{
  background: #02b0e9 url('../images/content-detail/ic_like_h.png') no-repeat center center;
}
.view-big-img .connect-operation .collect{
  background: #181818 url('../images/content-detail/ic_shou_n.png') no-repeat center center;
}
.view-big-img .connect-operation .collect:hover{
  background: #181818 url('../images/content-detail/ic_shou_h.png') no-repeat center center;
}
.view-big-img .connect-operation .collect.like,
.view-big-img .connect-operation .collect.like:hover{
  background: #02b0e9 url('../images/content-detail/ic_shou_h.png') no-repeat center center;
}
.view-big-img .connect-operation .sina{
  background: #181818 url('../images/content-detail/ic_weibo_n.png') no-repeat center center;
}
.view-big-img .connect-operation .sina:hover{
  background: #181818 url('../images/content-detail/ic_weibo_h.png') no-repeat center center;
}
.view-big-img .connect-operation .sina.like,
.view-big-img .connect-operation .sina.like:hover{
  background: #02b0e9 url('../images/content-detail/ic_weibo_h.png') no-repeat center center;
}
.view-big-img .connect-operation .zone{
  background: #181818 url('../images/content-detail/ic_qzone_n.png') no-repeat center center;
}
.view-big-img .connect-operation .zone:hover{
  background: #181818 url('../images/content-detail/ic_qzone_h.png') no-repeat center center;
}
.view-big-img .connect-operation .zone.like,
.view-big-img .connect-operation .zone.like:hover{
  background: #02b0e9 url('../images/content-detail/ic_qzone_h.png') no-repeat center center;
}
.view-big-img .cut-img{
  position: fixed;
  top:50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.view-big-img .cut-img.cut-img-left{
  left:34px;
  background:#181818 url('../images/content-detail/ic_left_n.png') no-repeat center center;
}
.view-big-img .cut-img.cut-img-left:hover{
  background:#181818 url('../images/content-detail/ic_left_h.png') no-repeat center center;
}
.view-big-img .cut-img.cut-img-right{
  right:34px;
  background:#181818 url('../images/content-detail/ic_right_n.png') no-repeat center center;
}
.view-big-img .cut-img.cut-img-right:hover{
  background:#181818 url('../images/content-detail/ic_right_h.png') no-repeat center center;
}
.view-big-img .controlbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 25px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  background: #000;
  z-index: 10001;
}
.view-big-img .controlbar li{
  padding: 0 10px;
  cursor: pointer;
}
.view-big-img .controlbar li span{
  display: inline-block;
}
.view-big-img .controlbar .larger{
  background: url(../images/btn_ico.png) no-repeat 3px -725px;
}
.view-big-img .controlbar .larger:hover{
  background: url(../images/btn_ico.png) no-repeat 3px -756px;
}
.view-big-img .controlbar .narrow{
  background: url(../images/btn_ico.png) no-repeat 3px -779px;
}
.view-big-img .controlbar .narrow:hover{
  background: url(../images/btn_ico.png) no-repeat 3px -799px;
}
.view-big-img .controlbar .larger,
.view-big-img .controlbar .narrow{
  width: 24px;
  height: 24px;
  line-height: 29px;
  font-size:0;
  vertical-align: middle;
}
.view-big-img .controlbar .rate{
  margin: 0 10px;
}
.view-big-img .controlbar .actual-size{
  border-left: 1px solid #4d4d4d;
  border-right: 1px solid #4d4d4d;
}
.view-big-img .controlbar .actual{
  padding-left: 25px;
  background:url(../images/btn_ico.png) no-repeat 0px -823px;
}
.view-big-img .controlbar .actual:hover{
  color:#02b0e9;
  background:url(../images/btn_ico.png) no-repeat 0px -843px;
}

.view-big-img .controlbar .exit:hover{
  color:#02b0e9;
}

/* 素材详情页 */
.wrap .content .sucai-content{
  padding-bottom: 15px;
  margin-top:0;
}
.wrap .content .sucai-content .content-box{
    text-align: center;
}
.wrap .content .col-layout .cover-img,
.wrap .content .col-layout .content-info{
  float:left;
}
.wrap .content .col-layout .content-info{
    margin-left: 67px;
}
.wrap .content .col-layout .cover-img{
  width: 192px;
  height: 192px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.wrap .content .col-layout .cover-img img{
  width:100%;
  height: 100%;
  border-radius: 5px;
}


.wrap .content .col-layout .content-data{
    display: inline-block;
    width: 148px;
    float: right;
    text-align: right;
    color: #aeaeae;
}
.wrap .content .col-layout .content-data i{
    font-style:normal;
    font-size:14px;
}
.wrap .content .col-layout .content-data .download{
    padding-left:25px;
    background: url('../images/content-detail/ic_xiazai.png') no-repeat left center;
}
.wrap .content .col-layout .content-data .view{
    padding-left:25px;
    background: url('../images/content-detail/ic_guankan.png') no-repeat left center;
}
.wrap .content .col-layout .content-data .practice{
    padding-left:25px;
    background: url('../images/content-detail/ic_lianxi.png') no-repeat left center;
}
.wrap .content .col-layout .content-data .font-bold{
  font-size: 20px;
  font-weight: bolder;
}
.wrap .content .col-layout .content-data .col-left{
  padding-right: 35px;
  border-right: 1px solid #f0f0f0;
  font-size:14px;
}
.wrap .content .col-layout .content-data .col-right{
  padding-left: 35px;
  font-size:14px;
}
.wrap .content .col-layout .content-info{
    width: 830px;
    padding-top:7px;
    font-size:14px;
    color:#626262;
}
.wrap .content .col-layout .content-info > p{
  color:#626262;
  font-size: 14px;
  font-family: 'MicrosoftYaHeiUI';
  text-align: left;
}
.wrap .content .col-layout .content-info .brief-box{
    margin-top:20px;
}
.wrap .content .col-layout .content-info .brief{
    display: inline-block;
    width: 680px;
    vertical-align: top;
    font-size: 14px;
    color: #626262;
}
.wrap .content .col-layout .content-info .btn{
    display: inline-block;
}
.wrap .content .col-layout .content-info .type{
  margin-top: 20px;
}
.wrap .content .pic-course-detail .content-related .sign,
.wrap .content .col-layout .content-info .sign{
  display: inline-block;
  line-height: 26px;
  padding: 0 10px;
  margin-top:22px;
  margin-right: 8px;
  background: #e5e5e5;
  border-radius: 13px;
  cursor: pointer;
  color: #626262;
}
.wrap .content .pic-course-detail .content-related .sign a,
.wrap .content .col-layout .content-info .sign a{
    color: #626262;
}
.wrap .content .pic-course-detail .content-related .sign:hover,
.wrap .content .col-layout .content-info .sign:hover{
  background: #d3d3d3;
}
.wrap .content .col-layout .content-info button{
  width:190px;
  line-height: 40px;
  background: #02b0e9;
  border-radius: 5px;
  border:0;
  cursor: pointer;
  color:#fff;
  font-size: 16px;
  margin-top:52px;
  margin-right:20px;
  font-family: 'MicrosoftYaHeiUI';
}
.wrap .content .col-layout .content-info .install-warn{
  color: #aeaeae;
  font-size: 12px;
  font-family: 'MicrosoftYaHeiUI';
}
.wrap .content .col-layout .content-info .install-warn a{
  color: #02b0e9;
}
.wrap .content .col-layout .content-info button:hover{
  background: #28bced;
}
.wrap .content .col-layout .content-info button span{
  font-size: 12px;
}
.wrap .content .comment_module{
  border:0;
}
.wrap .content .no-margin-top{
    margin-top: 0;
}

@media screen and (max-width: 1366px){
    .wrap .content{
        width:1048px;
    }
    .wrap .content .video-block .video-box{
        height:590px;
    }
    .wrap .content .col-layout .content-info{
        width: 740px;
    }
}